<main class="mn-inner container">
  <div class="valign">
    <div class="row">
      <div class="col s6 offset-l3">
        <div class="card white hoverable">
          <div class="card-content center-align">
            <span class="card-title">Sign In</span>
            <div class="row">
              <form class="col s12">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
                <div class="col s12 center-align m-t-sm">
                  <input type="submit" name="button" value="Sign In" class="waves-effect waves-light btn light-blue darken-4">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
