<main class="mn-inner container">
  <div class="row">
    <div class="col s12">
      <div class="page-title">Offered Courses</div>
    </div>
    <div class="col s12">
      <div class="grid" style="position: relative; height: 2330px;">
        {{#each classes}}
        <div class="grid-item course">
          <div class="card hoverable">
            <div class="card-image">
              <img src="/assets/images/card-image.jpg" alt="">
              <span class="card-title">{{title}}</span>
            </div>
            <div class="card-content course-height">
              <p>{{description}}</p>
            </div>
            <div class="card-action blue-link">
              <a href="/classes/{{_id}}/details">Class Details</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</main>
